
/* tablet and mobile  */
@media(max-width: 1024px) {
    .nav {
        transform: translateX(-100%);
        transition: transform 0.4s;

    }

    .show-nav {
        transform: translateX(0%);
        transition: transform 0.4s;
    }
    
    .main {
        margin-left: 0;
        margin-right: 0;
        transition: margin-left 0.4s;
    }

    .header--scroll {
        left: 0;
        height: 70px;
        transition: left 0.4s;
    }

    .header--scroll .menu-responsive {
        margin: 0px 0px 6px 38px;
        font-size: 36px;
        display: block;
    }

    .header--scroll .header__text {
        font-size: 35px;
        line-height: 70px;
        margin-left: 112px;
    }

    #close-nav {
        display: block;  
    }

}

