
/* tablet and mobile  */
@media(max-width: 1024px) {
    .nav {
        transform: translateX(-100%);
        transition: transform 0.4s;

    }

    .show-nav {
        transform: translateX(0%);
        transition: transform 0.4s;
    }
    
    .main {
        margin-left: 0;
        margin-right: 0;
        transition: margin-left 0.4s;
    }

    .header__text {
        text-align: center;
    }

    .header--scrolled {
        left: 0;
        transition: left 0.4s;
    }

    .header .menu-responsive {
        position: absolute;
        font-size: 45px;
        margin: 62px 0;
        display: block;
    }

    .header--scrolled .menu-responsive {
        font-size: 30px;
        margin: -4px 0px;
    }

    .header--scrolled .header__text--hide {
        margin-left: 65px;
        font-size: 25px;
    }

    #close-nav {
        display: block;  
    }

}

